.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s ease;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 1s ease;
  }
}

.App-header {
  background-color: #002c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* fgasfdsdf */
  /*background-blend-mode: screen, difference, lighten; */
  /*background: 
    linear-gradient(0deg, #005DB9, #00AE41),
    linear-gradient(120deg, orange, #00AE41),
    linear-gradient(90deg, rgba(0, 0, 0, 0.0), crimson),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.0), navy),
    linear-gradient(0deg, purple, orangered),
    linear-gradient(240deg, orange, #005DB9);*/

  /*animation: chillBG 30s linear infinite;*/
  /*background-size: 300%;*/
  /*background-position: 40% 10%;*/
}

@keyframes chillBG {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-2 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.App-logo2 {
  pointer-events: none;
  cursor: pointer;
  animation: spinny 7s ease-in-out infinite alternate;
}
.App-logo2:hover {
  animation: App-logo-spin-2 infinite 1s ease;
}
.generateButton {
  border-radius: 20px;
}
.generateButton:hover {
  box-shadow: 0px 0px 20px red;
}

.spin1 {
  animation: spinny 1s linear; 
}
.spin2 {
  animation: spinny 2s linear;
}

@keyframes spinny {
  from {
    transform: scale(0.5);
  } to {
    transform: scale(1);
  }
}


.bigWord {
  font-size: 3em;
}

.code {
  align-items: center;
  text-align: left;
  border: 1px grey inset;
  padding:  10px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
}
.little-text {
  width: 75px;
}
.very-little-text {
  width: 35px;
}
.bgColorLabel {
  font-size: 0.5em;
}

/*@media screen and (prefers-color-scheme:  light) {
  .settings {
    background-color: white;
  }
}*/
.settings {
  /*display: inline-block;*/
  /*border: 1px solid pink;*/
  /*justify-content: center;
  max-width: 800px;*/
}
.settingsRow {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
}
.settingsRow input {
  /*border: 1px solid blue;*/
  /*margin: 10px;
  padding: 10px;*/
  align-items: center;
}
.degreeRange {
  max-width: 100px;
}
.deleteRowButton {
  /*background-color: #e48185;*/
}
.addRowButton {
  min-width: 100px;
  padding: 5px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 10px;
  /*background-color: lightgreen;*/
}

.saveButton {
  min-width: 100px;
  
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}